@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "VK Sans Display";
  src: url(../fonts/VKSans/VKSansDisplay-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "VK Sans Display";
  src: url(../fonts/VKSans/VKSansDisplay-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "VK Sans Display";
  src: url(../fonts/VKSans/VKSansDisplay-DemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "VK Sans Display";
  src: url(../fonts/VKSans/VKSansDisplay-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}
